body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; 
    margin: 0;
    background-color: rgb(167, 197, 197);
}

.form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    background-color: white;
    height: 650px;
    width: 850px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px; 
}

.head1 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.head2 {
    font-size: 20px;
    margin-top: 0px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(122, 115, 115);
}
.head3 {
    margin: 30px;
}
.NAME{
    width: 825px;
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}
.LOCATION{
    width: 825px;
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin-top: 20px;
}

.DESC{
    width: 825px;
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin-top: 20px;
}

.sub-btn{
    display: flexbox;

    margin-top: 20px;
    margin-left: 2px;
    width: 850px;
    height: 50px;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    border:none;
    background-color:lightskyblue;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: opacity 0.3s;
    margin-bottom: 0px;
}
.sub-btn:hover{
    opacity:0.9;
    background-color: deepskyblue;

}
.sub-btn:active{
    opacity: 0.4;
    background-color: deepskyblue;
}
.head3{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(122, 115, 115);
}

.head4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:red;
}
.btn{
    margin-right: 15px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn:hover{
    opacity:0.9;
    background-color: wheat;

}
.btn:active{
    opacity: 0.4;
    background-color: wheat;
}